@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply bg-slate-200
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald", sans-serif;
  @apply text-slate-900 dark:text-white
}

.card-main-title {
  text-shadow: 2px 2px 5px #313333;
}
.card-main-title2 {
  text-shadow: .5px .5px 2px #a0a0a0;
}

.card-title {
  text-shadow: .5px .7px 1px #313333;
}

p {
  @apply text-slate-600 dark:text-slate-500 text-sm leading-loose font-bold lg:text-base lg:leading-relaxed;
}

